<!-- done -->
<style>
footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: red;
  color: white;
}

</style>
<footer>
         <div class="footer">Copyright:<i> Sai Sumanth Boddu || Manju Madala </i></div>
  </footer>